# Postgres setting
POSTGRES_USER=avito
POSTGRES_PASSWORD=12345678
POSTGRES_DB=scenarios
POSTGRES_HOST=db_scenarios
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# Gateway setting
GATEWAY_PORT=80

# RustFS settings
RUSTFS_ACCESS_KEY=root
RUSTFS_SECRET_KEY=root123456
RUSTFS_ADDRESS=":9000"
RUSTFS_CONSOLE_ADDRESS=":9001"
RUSTFS_CONSOLE_PORT=9001
RUSTFS_REGION=us-east-1
RUSTFS_CONSOLE_ENABLE="true"

# AdminBackend settings
ADMIN_SERVICE_PORT=8001
S3_REPORT_BUCKET=reports
RUSTFS_URL=report_storage # container name for S3

# WidgetBackend settings
WIDGET_SERVICE_PORT=":8002"
